body{
    background-color: rgb(12, 70, 121);
}
h1{
    color: beige;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.main-form{
    border: 3px outset black;
    background-color: rgb(252, 254, 254);    
    text-align: center;
}

label{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

#predictedPrice{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

p{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
